<ion-header>
  <ion-toolbar>
    <ion-title>Milenios Software</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <ion-button href="#">Modificar</ion-button>
    <ion-toolbar>
     <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </div>

  <div class="container">

    <div class="button_left">
      <ion-button href="#">Tiquetes de avion</ion-button>
      <ion-button href="#">Traductor</ion-button>
      <ion-button href="#">Profecionales</ion-button>
      <ion-button href="#">Restaurantes</ion-button>
    </div>
  
    <div class="button_center">
      <ion-button href="#">Perfil de ususrio</ion-button>
      <ion-button href="#">Perfil de la aserora</ion-button>
    </div>
  
    <div class="button_right">
      <ion-button href="#">Ventas de licores</ion-button>
      <ion-button href="#">Conductor</ion-button>
      <ion-button href="#">Mapa</ion-button>
      <ion-button href="#">Hoteles</ion-button>
    </div>
  
  </div>
  
</ion-content>





