

<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
            <ion-row>
              <ion-col>
                  <h1>Reserva</h1>
              </ion-col>
            </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
                        <ion-item>
                          <ion-label>Nombre de la persona : </ion-label>
                          <ion-input name="user" type="email" required placeholder=""></ion-input>
                      </ion-item>
                      <br />
                        <ion-item>
                          <ion-label>Para cuanta personas : </ion-label>
                          <ion-input name="user" type="tel" required placeholder=""></ion-input>
                      </ion-item>
                      <br />
                        <ion-item>
                          <ion-label>A que hora : </ion-label>
                          <ion-input name="user" type="text" required placeholder=""></ion-input>
                      </ion-item>
                      <br />
                        <ion-item>
                          <ion-label>Evento</ion-label> 
                       
                      </ion-item>
                      <br />
                        
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                  
                  </ion-col>
                  
              </ion-row>
              
              
          </ion-grid>
      </div>
  </ion-slide>

</ion-content>
